@media (max-width: 1000px) and (min-width: 768px){
	body, html{
		width: 100%;
}
.container{width: 100%}
.call{
		margin-left: 100px;
        width: 214px;
        height: 56px;
	}
.menu{
		font-size: 18px;
        line-height: 22px;
        margin-left: 0;
	}
.menu li{margin-right: 30px;}
.phone{
width: 183px;
margin-left: 400px;
font-size: 18px;
line-height: 22px;
 margin-top: -20px;
	}
.call{
	width: 214px;
height: 56px;
margin-left: 600px;
}
.container-fluid{width: 125%;}
.container-fluid .container{margin-left: 24px;}
.logo img{
width: 111px;
height: 111px;
margin-top: 27px;
}
.aboutus h5{
	margin-top: 50px;
	margin-left: 24px;
}
.aboutus p{
width: 299px;
margin-left: 24px;
margin-top: 75px;
}
.aboutus img:first-child{
width: 298px;
margin-left: 280px;
margin-top: -55%;
}
.aboutus img:last-child{
width: 297px;
margin-left: 30px;
margin-top: 117px;
margin-top: -55%;
}
.photo h6,.recentEvents h6, .ourTeam h6{
margin-left: 24px;}
.events, .photos, .ourTeam .boxes {margin-left: 24px;}
.events img {
	width: 297px;
	height: 406px;}
.photos img {object-fit: cover;
height: 298px;}
.recentEvents .photos:nth-child(2) img:nth-child(1) {width: 215px;}
.recentEvents .photos:nth-child(2) img:nth-child(2) {width: 461px;}
.recentEvents .photos:nth-child(2) img:nth-child(3) {width: 216px;}	
.recentEvents .photos:nth-child(3) img:nth-child(1) {width: 297px;}	
.recentEvents .photos:nth-child(3) img:nth-child(2) {width: 298px;}	
.recentEvents .photos:nth-child(3) img:nth-child(3) {width: 297px;}	
.ourTeam img{
	width: 297px; 
	height: 505px; 
	object-fit: cover;}
/*.ourTeam .box:nth-child(2){top:3515px;}
.ourTeam .box:nth-child(3){top:3470px;}
.ourTeam .box:nth-child(2),.ourTeam .box:nth-child(5){left: 24px;}
.ourTeam .box:nth-child(3),.ourTeam .box:nth-child(6){left: 351px;}
.ourTeam .box:nth-child(4){top:3425px;}
.ourTeam .box:nth-child(4),.ourTeam .box:nth-child(7){left: 679px;}
.ourTeam .box:nth-child(5){top:4050px;}
.ourTeam .box:nth-child(6){top:4005px;}
.ourTeam .box:nth-child(7){top:3960px;}*/
.ourTeam span,.ourTeam p{padding-left: 18.46px;}
.ourTeam div.name{width: 247.23px;}
}

@media (max-width: 768px) and (min-width: 480px){
	body, html{
		width: 100%;
}	
.logo img {
	margin-left: 0px;}
.menu{
  position: absolute;	
  visibility: hidden;
  top: 0;
  width: 320px;
  height: 4493px;
  margin: 0;
  background-color: #121212;
  opacity: 97%;
	}
.menu li{display: block;}
.menu div{
		 margin-top: 165px;
		 margin-left: 16px;
	}
.menu  a {
	display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 30px;
}
.menu__btn{
		 visibility:visible;
		 z-index: 3;
	}	
#menu__toggle:checked ~ .menu  {
  visibility: visible;
 z-index: 2;
 right: 0;
}
.phone{margin-left: 31px;
margin-top: 50px;}
/*.phone {position: absolute;
width: 183px;
height: 22px;
left: 158px;
top: 72px;
margin: 0;}*/
.call{margin-left: 253px;}
/*.call{
position: absolute;
width: 214px;
height: 56px;
left: 410px;
top: 54px;
margin:0;}*/
.container-fluid, .container{width: 100%; margin:0;}
.aboutus h5{
	margin-left: 0px;
	font-size: 26px;
   line-height: 32px;
}
.aboutus p{
width: 225px;
margin-left: 0px;
font-size: 18px;}
.aboutus img:first-child{
width: 226px;
height: 312px;
margin-left: 190px;
margin-top: -360px;
}
.aboutus img:last-child{
width: 224px;
height: 312px;
margin-left: 0px;
margin-top: -390px;
}
.photo h6,.recentEvents h6, .ourTeam h6,
.events, .photos, .ourTeam .boxes{margin-left: 0;}
.photo h6{
width: 402px;
margin-top: 50px;
font-size: 26px;
line-height: 32px;
}
.events figcaption{
font-size: 18px;
line-height: 22px;
}
/*.events .child, .events .corporat {left: 16px;}
.events .child img, .events .dinner img,.events .corporat img,.events .show img,
.events .birthday img, .events .wedding img{width: 225px;}
.events .corporat {top:1936px;}
.events .wedding {top:1978px;}
.events .show {top:2000px;}
.events .birthday,.events .wedding {left: 272px;}
.events .dinner,.events .show  {left: 528px;}*/
.events img {
   width: 225px;
   height: 308px;}
.recentEvents .photos:nth-child(2) img:nth-child(1) {width: 225px;}
.recentEvents .photos:nth-child(2) img:nth-child(2) {width: 226px;}
.recentEvents .photos:nth-child(2) img:nth-child(3) {width: 221px;}	
.recentEvents .photos:nth-child(3) img:nth-child(1) {width: 225px;}	
.recentEvents .photos:nth-child(3) img:nth-child(2) {width: 231px;}	
.recentEvents .photos:nth-child(3) img:nth-child(3) {width: 222px;}	
.recentEvents h6{width: 270px;
margin-top: 52px;
font-size: 26px;
line-height: 32px;} 
.ourTeam img{
	width: 225px; 
	height: 376px; }
.ourTeam h6{width: 208px;
margin-top: 50px;
font-size: 26px;
line-height: 32px;
margin-bottom: 0;}
/*.ourTeam .box:nth-child(2){top:3220px;}
.ourTeam .box:nth-child(3){top:3175px;}
.ourTeam .box:nth-child(2),.ourTeam .box:nth-child(5){left: 16px;}
.ourTeam .box:nth-child(3),.ourTeam .box:nth-child(6){left: 271px;}
.ourTeam .box:nth-child(4){top:3130px;}
.ourTeam .box:nth-child(4),.ourTeam .box:nth-child(7){left: 527px;}
.ourTeam .box:nth-child(5){top:3626px;}
.ourTeam .box:nth-child(6){top:3581px;}
.ourTeam .box:nth-child(7){top:3536px;}*/
.ourTeam span,.ourTeam p{padding-left: 13.99px;}
.ourTeam span{
	font-size: 18px;
line-height: 22px;
padding-top: 17.12px;
}
.ourTeam p{
	font-size: 14px;
line-height: 17px;
padding-top: 46.16px;
margin: 0;
}
.ourTeam div.name{width: 187.3px;
height: 81.16px;
margin-top: -95px;}
}

@media (max-width: 480px) and (min-width: 320px){
body, html{
		width: 100%;
}
.logo img{
	width: 90px;
   height: 90px;
   margin-left: 16px;
   margin-top: 16px;
}
.menu{
  visibility: hidden;
  margin-top: 0;
  width: 320px;
  height: 5141px;
  background-color: #121212;
  opacity: 97%;
  left: 45%;
  /*left: 162px;*/
}
.menu li{display: block;}
.menu div{
		 margin-top: 144px;
		 margin-left: 16px;
	}
.menu  a {
	display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 30px;
}
.menu__btn{
	visibility:visible;
	z-index: 3;
	margin-left: 0;
    margin-top: -80px;
}	
#menu__toggle:checked ~ .menu  {
  visibility: visible;
 z-index: 2;
 right: 0;
}
.phone {
width: 244px;
margin-left: 48%;
margin-top: 250px;
font-size: 24px;
line-height: 29px;
color: #FFF;
margin-bottom: 47px;
}
.call{
width: 266px;
height: 63px;
margin-left: 48%;
margin-top: 0px;
border: 3px solid #FFFFFF;
background-color: #121212;
}
.call a{
width: 214px;
font-size: 24px;
line-height: 29px;
color: #FFF;
}
.call, .phone{
	position: relative;
	visibility: hidden;
	z-index: 999;
}
#menu__toggle:checked ~  div .phone,
#menu__toggle:checked ~  div .call{
	visibility: visible;
}
.container-fluid{ margin-top:-350px; width: 110%;}
.fluid h6{width: 437px;
font-size: 26px;
line-height: 32px;}
.fluid p{width: 417px;
font-size: 19px;
line-height: 140%;}
.fliud button{
	width: 281px;
height: 70px;
margin-bottom: 343px;}
.aboutus h5{width: 159px;
font-size: 22px;
line-height: 27px;}
.aboutus p{width: 209px;
font-size: 16px;
line-height: 136%;
margin-top: 30px;}
.aboutus img:first-child{
width: 209px; 
height: 146px; 
margin-left: 190px;
margin-top: -150px;
object-fit: cover;
}
.aboutus img:last-child{
width: 209px;
height: 127px;
margin-left: -240px;
margin-top: -300px;
object-fit: cover;
}
.photo h6{
width: 340px;
font-size: 22px;
line-height: 27px;
}
.events figcaption{
font-size: 16px;
line-height: 20px;
}
.events img {height: 264px; width: 209px;}
.events .dinner {margin-top:355px; margin-left: -480px;}
.events .corporat {margin-top:-270px; margin-left: 230px;}
.events .wedding {margin-top:0px;margin-left: -470px;}
.events .show {margin-top:71px; margin-left: -10px;}
.recentEvents h6{width: 228px;
font-size: 22px;
line-height: 27px;} 
.recentEvents img {
   width: 209px !important;
   height: 276px;
   object-fit: cover;
}
/*.events .child, .events .dinner, .events .wedding {left: 16px;}
.events .birthday, .events .corporat, .events .show {left: 255px;}
.events .child img, .events .dinner img,.events .corporat img,.events .show img,
.events .birthday img, .events .wedding img{width: 209px;}
.events .child {top:1328px;}
.events .dinner {top:1666px;}
.events .corporat {top:1724px;}
.events .wedding {top:2004px;}
.events .show {top:2062px;}
.events .birthday{top:1386px;}
.recentEvents h6{width: 228px;
top: 2430px;
left: 16px;
font-size: 22px;
line-height: 27px;} 
.recentEvents img:nth-child(even), .recentEvents img:nth-child(odd) {
   width: 209px;
   height: 276px;
   object-fit: cover;
}
.recentEvents img:nth-child(even){left: 16px;}
.recentEvents img:nth-child(odd){left: 255px;}
.recentEvents img:nth-child(2),.recentEvents img:nth-child(3)
 {top:2477px;}
.recentEvents img:nth-child(4),.recentEvents img:nth-child(5)
{top:2783px;}
.recentEvents img:nth-child(6),.recentEvents img:nth-child(7)	
{top:3089px;}
.ourTeam h6{width: 176px;
	left:24px;
top: 3425px;
font-size: 22px;
line-height: 27px;}
.ourTeam img{
	width: 209px; 
	height: 347px; }
.ourTeam .box:nth-child(2){top:3537px;}
.ourTeam .box:nth-child(3){top:3492px;}
.ourTeam .box:nth-child(2),.ourTeam .box:nth-child(4),
.ourTeam .box:nth-child(6){left: 16px;}
.ourTeam .box:nth-child(3),.ourTeam .box:nth-child(5),
.ourTeam .box:nth-child(7){left: 255px;}
.ourTeam .box:nth-child(4){top:3914px;}
.ourTeam .box:nth-child(5){top:3869px;}
.ourTeam .box:nth-child(6){top:4291px;}
.ourTeam .box:nth-child(7){top:4246px;}
.ourTeam span,.ourTeam p{padding-left: 12.99px;}
.ourTeam span{
	font-size: 16px;
line-height: 20px;
padding-top: 15.8px;
}
.ourTeam p{
	font-size: 12px;
line-height: 15px;
padding-top: 42.6px;
}
.ourTeam .box div.name{
	width: 173.98px;
   height: 74.9px;
	top: 260px;
}*/ 
.recentEvents .photos:nth-child(2) img:nth-child(3) {margin-top: 336px; margin-left: -100%;}	
.recentEvents .photos:nth-child(3) img:nth-child(1) {margin-top: -67%; margin-left: 230px;}	
.recentEvents .photos:nth-child(3) img:nth-child(2) {margin-top: 0px;margin-left: -100%;}		
.ourTeam img{
	width: 209px; 
	height: 347px;
	object-fit: cover; }
.ourTeam h6{width: 208px;
margin-top: 50px;
font-size: 26px;
line-height: 32px;}
.ourTeam .boxes .box:nth-child(3) {margin-top: 482px;margin-left: -100%;}
.ourTeam .boxes:last-child .box:nth-child(1) {margin-top: -83%; margin-left: 250px;}
.ourTeam .boxes:last-child .box:nth-child(2) {margin-top:30px; margin-left:-100%;}
.ourTeam .boxes:last-child .box:nth-child(3) {margin-top: 0; margin-left: 5%;}
.ourTeam span,.ourTeam p{padding-left: 13.99px;}
.ourTeam span{
	font-size: 18px;
line-height: 22px;
padding-top: 17.12px;
}
.ourTeam p{
	font-size: 14px;
line-height: 17px;
padding-top: 46.16px;
margin: 0;
}
.ourTeam div.name{width: 187.3px;
height: 81.16px;
margin-top: -95px;
margin-left: 10px;}
}






@media (max-width: 320px){
	
}