@font-face {
font-family: "Montserrat"; 
src: url("Montserrat/Montserrat-Regular.ttf") format("truetype"); 
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Montserrat-Bold"; 
src: url("Montserrat/Montserrat-Bold.ttf") format("truetype"); 
font-weight: normal;
font-style: normal;
}
body,ul{
	margin: 0 auto;
	padding: 0;
	width: 1920px;
	font-family: "Montserrat";
}
ul{list-style-type: none;}
a{
	text-decoration: none;
	color: #222;
}
.logo img {
 position: absolute;
width: 111px;
height: 111px;
left: 314px;
top: 27px;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  width: 60px;
  height: 40px;
  cursor: pointer;
  position: absolute;
left: 90.23%;
right: 1.95%;
top: 62px;
visibility: hidden;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color:#8A8A8A;
  border-radius: 5px;
}
.menu__btn > span::before {
  content: '';
  top: -15px;
}
.menu__btn > span::after {
  content: '';
  top: 15px;
}
.menu {
position: absolute;
   width: 100%;
  left: 475px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 50px;
	}
.menu li{
	margin-right: 45px;
	display: inline-block;
}
.phone{
position: absolute;
width: 203px;
margin-top: 50px;
font-family: Montserrat;
font-size: 20px;
line-height: 24px;
left:1007px;
}
.call{
display: flex;
align-items: center;
justify-content: center;	
position: absolute;
width: 248px;
height: 70px;
top: 40px;
left:1220px;
border: 3px solid #5C2DBB;
box-sizing: border-box;
border-radius: 15px;
background-color: #fff;
font-weight: bold;
}
.call a{
	color: #5C2DBB;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color:#fff;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color:#fff;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color:#fff;
}

.container-fluid {
	position: absolute;
	top: 165px;
	background: linear-gradient(98.62deg, rgba(0, 0, 0, 0.72) 28.21%, rgba(0, 0, 0, 0) 55.48%,
	 rgba(255, 255, 255, 0) 110.01%), url(img/back.png);
	background-size: cover;
	background-repeat: no-repeat;

}
.fluid h6{
margin-top: 143px;	
width: 604px;
font-family: Montserrat;
font-size: 36px;
line-height: 44px;
color: #FFF;
text-transform: uppercase;
font-weight: bold;
}
.fluid p{
width: 571px;
font-family: Montserrat;
font-size: 27px;
line-height: 140%;
color: #FFF;
margin-top: 30px;
margin-bottom: 30px;
}
.fluid button{
border:none;	
width: 281px;
height: 70px;
background: #5C2DBB;
border-radius: 15px;
margin-bottom: 321px;
color:#fff;
font-weight: bold;
}
.aboutus h5{
	position: absolute;	
width: 217px;
left: 375px;
top: 944px;
font-family: "Montserrat-Bold";
font-weight: bold;
font-size: 30px;
line-height: 37px;
color: #5C2DBB;
}
.aboutus p{
	position: absolute;
top: 1056px;
width: 470px;
left: 375px;
font-family: Montserrat;
font-size: 20px;
color: #222;
}
.aboutus img:first-child{
position: absolute;
top: 1056px;
width: 270px;
height: 384px;
border-radius: 15px;
}
.aboutus img:last-child{
position: absolute;
top: 1011px;
left:  1275px;
width: 270px;
height: 384px;
border-radius: 15px;
}
.events h6{
position: absolute;
width: 463px;
left: 375px;
top: 1470px;
font-family: Montserrat-Bold;
font-size: 30px;
line-height: 37px;
color: #5C2DBB;
}
.events figcaption{
 font-family: Montserrat;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-top: 25px;
}
.events figure, .recentEvents img {
     position: absolute;
    border-radius: 15px;
}
.events .child {
	top: 1533px;
	left: 375px;
}
.events .birthday {
	top: 1578px;
	left: 775px;
}
.events .dinner {
	top: 1623px;
	left: 1175px;
}
.events .corporat {
	top: 2018px;
	left: 375px;
}
.events .wedding {
	top: 2063px;
	left: 775px;
}
.events .show {
	top: 2109px;
	left: 1175px;
}
.recentEvents h6{
position: absolute;
width: 311px;
left: 375px;
top: 2607px;
font-family: Montserrat-Bold;
font-size: 30px;
line-height: 37px;
color: #5C2DBB;
}

.recentEvents img:nth-child(2),.recentEvents img:nth-child(3),
.recentEvents img:nth-child(4){
     top: 2680px;
}
.recentEvents img:nth-child(2),.recentEvents img:nth-child(5),
.ourTeam img:nth-child(2),.ourTeam img:nth-child(5){
left: 375px;}
.recentEvents img:nth-child(3){
left: 675px;}
.recentEvents img:nth-child(4){
left: 1275px;}

.recentEvents img:nth-child(5),.recentEvents img:nth-child(6),
.recentEvents img:nth-child(7){
     top: 3008px;
}
.recentEvents img:nth-child(6){
left: 776px;}
.recentEvents img:nth-child(7){
left: 1177px;}
.ourTeam h6{
position: absolute;
width: 240px;
left: 375px;
top: 3380px;
font-family: Montserrat-Bold;
font-size: 30px;
line-height: 37px;
color: #5C2DBB;
}
.ourTeam img{
	position: absolute;
	border-radius: 15px;
}
.ourTeam .box {position: relative;}
.ourTeam .box:nth-child(2) img{top:3513px;}
.ourTeam .box:nth-child(3) img{top:3468px;}
.ourTeam .box:nth-child(4) img{top:3424px;}
.ourTeam .box:nth-child(5) img{top:3750px;}
.ourTeam .box:nth-child(6) img{top:4003px;}
.ourTeam .box:nth-child(7) img{top:3958px;}
.ourTeam .box:nth-child(3) img, .ourTeam .box:nth-child(6) img{
left: 415px;}
.ourTeam .box:nth-child(4) img, .ourTeam .box:nth-child(7) img{
left: 815px;}

.ourTeam span{
	position: absolute;
padding-left: 23px;
padding-top: 23px;
font-family: Montserrat;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #FFF;
}

.ourTeam p{
position: absolute;
padding-left: 23px;
padding-top: 62px;
font-family: Montserrat;
font-size: 20px;
line-height: 24px;
color: #FFF;
}
.ourTeam div.name{
width: 308px;
height: 109px;
background-color: #5C2DBB;
opacity: 90%;
border-radius: 15px;
}
.ourTeam div.name:nth-child(8){
margin-top: 3869px;
margin-left: 8.11%;
}
.ourTeam div.name:nth-child(9),.ourTeam div.name:nth-child(12){
margin-top: -150px;
margin-left: 500px;
}
.ourTeam div.name:nth-child(10),.ourTeam div.name:nth-child(13){
margin-top: -150px;
margin-left: 900px;
}
.ourTeam div.name:nth-child(11){
margin-top: 500px;
margin-left: 8.11%;
}

